@font-face {
  font-family: font1;
  src: url(Fonts/BacasimeAntique-Regular.ttf);
}

* {
  font-family: font1;
  margin: 0;
}
.title {
  color: black;
  text-decoration: none;
  font-size: 31px;
}

nav a {
  text-decoration: none;
}
.autumnbutton:hover {
  border-radius: 15px;
  background-color: #f5d7b1;
}
.winterbutton:hover {
  border-radius: 15px;
  background-color: #99aadf;
}

.springbutton:hover {
  border-radius: 15px;
  background-color: #90c5a4;
}

.summerbutton:hover {
  border-radius: 9px;
  background-color: #f8f7aa;
}

nav ul li a {
  padding: 10px;
  color: black;
}

nav ul li:nth-child(odd) {
  translate: 0 -15px;
}

nav ul li:nth-child(even) {
  translate: 0 10px;
}
img {
  max-width: 100%;
  max-height: 80%;
  object-fit: cover;
}

nav ul {
  display: flex;
  align-items: center;
  object-fit: contain;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  flex-direction: row;
}

h1 {
  text-align: center;
  margin-top: 14%;
  margin-bottom: 10%;
  color: black;
  text-decoration: none;
}

.quote {
  text-align: center;
  align-content: center;
  margin-bottom: 3rem;
  line-height: 1.7;
}

.index1 img {
  margin-top: 2rem;
}
#autumnid {
  background-color: #f7efe4;
}
#winterid {
  background-color: #e3e9fd;
}
#springid {
  background-color: #e5f3ea;
}
#summerid {
  background-color: #fcffec;
}
.poem1,
.poem2,
.poem3,
.poem4,
.poem5,
.poem6,
.poem7,
.poem8,
.poem9,
.poem10,
.poem11,
.poem12,
.poem13 {
  line-height: 1.6;
  padding-bottom: 40px;
  padding-top: 40px;
}

.poem3,
.poem4,
.poem6,
.poem7,
.poem9 {
  text-align: center;
}

.poem1,
.poem2,
.poem5,
.poem8,
.poem10,
.poem11,
.poem12,
.poem13 {
  margin-left: 25px;
}
.intro1,
.intro2 {
  line-height: 1.4;
}

.intro1 .intro2 {
  padding: 1rem;
}
