nav a {
  text-decoration: none;
}
.autumnbutton:hover {
  border-radius: 15px;
  background-color: #f5d7b1;
}
.winterbutton:hover {
  border-radius: 15px;
  background-color: #99aadf;
}

.springbutton:hover {
  border-radius: 15px;
  background-color: #90c5a4;
}

.summerbutton:hover {
  border-radius: 15px;
  background-color: #e6f4a0;
}

nav ul li a {
  padding: 0.5rem;
  color: black;
}

nav ul li:nth-child(odd) {
  translate: 0 -15px;
}

nav ul {
  display: flex;
  align-items: center;
  object-fit: contain;
  flex-wrap: wrap;
  justify-content: space-evenly;
  list-style-type: none;
  flex-direction: row;
}

h1 {
  text-align: center;
  margin-bottom: 40px;
}

.index1 img {
  width: 400%;
  height: 30%;
  object-fit: cover;
}

/*
@media (min-width: 800px) {
  .index1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .index1 img {
    width: 100%;
    height: 80%;
    object-fit: cover;
  }
  .index1 p {
    text-align: center;
    align-content: center;
    grid-row: 2fr 3fr;
  }
  .index2 {
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 1fr 3fr;
  }
  .index2 img {
    width: 80%;
    height: 60%;
    object-fit: cover;
    grid-column: 4 / 6;
    grid-column: 1 / 5;
  }
  .intro1 {
    grid-row: 1 / 2;
  }
  .intro2 {
    grid-row: 2 / 3;
  }
}
*/
